---
layout: base.njk
title: About
permalink: /
---

<h1>About</h1>

<p>Hi. I am a keen design engineer with special interests in instrumentation and rocketry. You'll find me most comfortable beside a lathe, terminal, electronics bench, CAD workstation or whiteboard. My ideal day sees me at each.</p>

<p>I was apprenticed with the UK's <a href="https://www.npl.co.uk/">National Physical Laboratory</a>, hold an MEng in Electrical and Electronic Engineering from the <a href="https://www.leeds.ac.uk/">University of Leeds</a> and interned in the Avionics department at <a href="https://en.wikipedia.org/wiki/Orbex">Orbex</a>. My CV is available <a href="/toby-thomson-cv.pdf">here</a>.</p>

<p>If you have work in mind and my <a href="{{ '/portfolio.njk' | inputPathToUrl }}">portfolio</a> suits you, please get in touch; <a href="https://xkcd.com/356/">I'm a sucker for a challenge</a>.</p>

{% figure "/images/banner-photo.jpg", 'My good side, <a href="' ~ ('/projects/g2b2.md' | inputPathToUrl) ~ '">Gryphon II Block II</a> launch, 2026. Credit: <a href="https://www.benadamsphotography.co.uk/">Ben Adams</a>.' %}