---
layout: base.njk
title: Contact
permalink: /contact/
---

<h1>Contact</h1>

You can reach me by any of the following. Email is preferred:
<ul>
  <li>Email: <a href="mailto:me@tobythomson.co.uk">me@tobythomson.co.uk</a></li>
  <li>LinkedIn: <a href="https://www.linkedin.com/in/toby-thomson-92983813b/">https://www.linkedin.com/in/toby-thomson-92983813b/</a></li>
  <li>GitHub: <a href="https://github.com/TobyThomson">https://github.com/TobyThomson</a></li>
</ul>