---
layout: base.njk
title: Contact
permalink: /contact/
---

<h1>Contact</h1>

Email: <a href="mailto:me@tobythomson.co.uk">me@tobythomson.co.uk</a>
<br>
LinkedIn: <a href="https://www.linkedin.com/in/toby-thomson-92983813b/">https://www.linkedin.com/in/toby-thomson-92983813b/</a>
<br>
GitHub: <a href="https://github.com/TobyThomson">https://github.com/TobyThomson</a>